click
colorama
contourpy
cycler
Flask
fonttools
gunicorn
importlib-resources
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
Pillow
pyparsing
python-dateutil
scikit-learn
scipy
six
threadpoolctl
Werkzeug
zipp
